html{
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 1rem;
  /* background: url(/img/mario-bg.png) no-repeat; */
  background-color: gray;
  min-height: 100%;
}

.similarweb-app{
  margin: auto;
  width: 60rem;
  height: 100%;
  border: 5px solid black;
  border-radius: 1.2rem;
  padding: 0.8rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
}
.similarweb-img{
  height: 5rem;
  width: 70%;
  align-self: center;
  margin-bottom: 1.3rem;
}
.similarweb-content{
  display: flex;
  flex-direction: row;
}
.media-left-panel{
  flex-grow: 1;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 10px 10px;
  margin-right: 10px;
  max-height: 25rem;
  min-height: 20rem;
  min-width: 27%;
}
.media-player{
  flex-grow: 4;
  background-color: lightgrey;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 10px 10px;
  margin-left: 10px;
  max-height: 25rem;
  min-height: 20rem;
}
.toolbar{
  display: flex;
  justify-items: unsafe;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 5px;
}
.toolbar-text{
  width: 80%;
  height: 1.2rem;
}
.toolbar-btn{
  float: right;
}
.media-list{
  border-radius: 5px;
    margin: 5px 0px;
    padding: 10px 10px;
    overflow-x: auto;
    min-height: 14rem;
    max-height: 20rem;
    height: 20rem;
}
.media-item{
  display: flex;
  height: 2.5rem;
  border: 1px solid;
  background-color: coral;
  padding: 5px 5px;
  margin-bottom: 5px;
  justify-content: space-between;
  align-items: center;
}
.playing-song{
  background-color: lightseagreen;
}
.media-name{
  flex-grow: 1;
}
.media-time{
  margin-right: 5px;
}